
.DS_Store
__pycache__
.ipynb_checkpoints
*.pyc

cache/*
!cache/.gitkeep
cache_*
*.bak*

data/*
!data/.gitkeep
!data/certbot
data/certbot/*
!data/certbot/.gitkeep
logs/*
!logs/.gitkeep
configs/*
!configs/.gitkeep

.rogerthat.pid
