version: "3.8"
   
services:
  db:
    image: postgres:bullseye
    stop_signal: SIGINT
    volumes:
      - ./support/start_postgres.sh:/docker-entrypoint-initdb.d/0-start_postgres.sh
      - ./support/postgresql.conf:/db_config.conf
      - ./data/db:/var/lib/postgresql/data
    env_file:
      - ./configs/env_postgres.env
    user: "${PUID:-999}:${PGID:-999}"
  nginx:
    image: theholiestroger/nginx-iptables:latest
    cap_add:
      - NET_ADMIN
    entrypoint: /nginx-entrypoint.sh
    command: ["nginx", "-g", "daemon off;"]
    depends_on:
      - rogerthat
    env_file:
      - ./configs/env_nginx.env
    volumes:
      - ./support/nginx-entrypoint.sh:/nginx-entrypoint.sh
      - ./support/nginx-default.conf.template:/etc/nginx/conf.d/default.conf.template
      - ./support/nginx-ssl.conf.template:/etc/nginx/conf.d/ssl.conf.template
      - ./data/certbot/certs:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    ports:
      - 80:8080
      - 443:8443
  certbot:
    image: certbot/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    env_file:
      - ./configs/env_nginx.env
    volumes:
      - ./support/generate_self_signed_cert.sh:/generate_self_signed_cert.sh
      - ./support/letsencrypt_download_params.sh:/letsencrypt_download_params.sh
      - ./support/letsencrypt_generate.sh:/letsencrypt_generate.sh
      - ./data/certbot/certs:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
  rogerthat:
    build: .
    image: theholiestroger/rogerthat:latest
    stop_signal: SIGINT
    environment:
      PYTHONUNBUFFERED: 1
    volumes:
      - ./configs:/configs
      - ./logs:/logs
    ports:
      - "10073:10073"
    depends_on:
      - db
    entrypoint: ["/home/rogerthat/docker_compose_entrypoint.sh"]